

  <header class="myHeader">


      <div class=" myNav">  
          <div class="myButton" *ngIf="isLogged == false">
            <div class=" myText " routerLink="/register">Regístrate</div>
          </div>
          <div class="myButton" *ngIf="isLogged == false">
            <div class=" myText " routerLink="/login">Iniciar sesión</div>
          </div>
          <div class="myButton" *ngIf="isLogged == true">
            <div class=" myTextWithoutCursor ">Hola! {{nameUser}}
              <img class="icon" src="/assets/images/profile-user.png" width="40px" height="40px"></div>
          </div>
          <div class="myButton" *ngIf="isLogged == true">
            <div class=" myTextWithoutCursor " (click)="logout()">Cerrar Sesión 
              <img class="icon" src="/assets/images/logout.png" width="40px" height="40px"></div>
          </div>
      </div>
  </header>



<div class="myBody">
  <div class="title">Penguin Express</div>

  <img class="logo" src="/assets/images/logo.png" alt="logo">

  <div class="slogan">
      Tus compras mas sencillas desde casa
  </div>
  <div class="slogan">
    Encuentra tu Mercado más cercano

</div >


  <div>
    <input type="text" class="input_code text-center" [(ngModel)]="zipCode" (keyup.enter)="findCode(zipCode)" placeholder="Código postal">
  </div>

  <div>
     <button class="button_find" (click)="findCode(zipCode)" >Buscar tiendas</button>
  </div>

  <div *ngIf="codeFound == undefined || notFound==1">
      <div class="msn_error">Código no encontrado</div>

  </div>


</div>