* {

    padding: 0;
    margin: 0;
}


.dropHeader {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.title{
  display: block;
    margin-top: 30px;
    text-align: center;
}
.slogan {
    text-align: center;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropHeader {background-color: #3e8e41;}

.logo{
  display: block;
  width: 400px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.input_code{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button_find{
  margin-top: 20px;
  background-color:#EDFAFF;
  border: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 183px;
  height: 25px;
  border: 1px solid #78C8EE;
  border-radius: 5px;
  cursor:pointer;
  outline: none;
  box-shadow: 0 5px #999;
  font-weight: bold;
}

.button_find:hover{
  background-color: #89daffa3;
}

.button_find:active{
  box-shadow: 0 4px #666;

}

h6{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

body {
  background: rgb(93,218,251);
  background: linear-gradient(180deg, rgba(93,218,251,1) 0%, rgba(87,161,228,1) 6%, rgba(96,144,231,1) 11%, rgba(105,153,219,1) 19%, rgba(105,153,219,1) 25%, rgba(124,173,240,1) 44%, rgba(124,173,240,1) 80%, rgba(93,218,251,1) 100%);
  background-repeat: repeat;
  width: 100%;
  margin:0px;
}
