

  <header class="myHeader">


      <div class=" myNav">  
          <div class="myButton">
            <div class=" myText cursorPointer" routerLink="/register">Regístrate</div>
          </div>
          <div class="myButton">
            <div class=" myText cursorPointer" routerLink="/login">Iniciar sesión</div>
          </div>
        </div>

  </header>



<div class="myBody">
  <div class="title">Penguin Express</div>

  <img class="logo" src="/assets/images/logo.png" alt="logo">

  <div class="slogan">
      Tus compras mas sencillas desde casa
  </div>
  <div class="slogan">
    Encuentra tu Mercado más cercano

</div >


  <div>
    <input type="text" class="input_code text-center" [(ngModel)]="textInput" (keyup.enter)="findCode(textInput)" placeholder="Código postal">
  </div>

  <div>
     <button class="button_find" (click)="findCode(textInput)" >Buscar tiendas</button>
  </div>

  <div *ngIf="codeFound == undefined || notFound==1">
      <div class="msn_error">Código no encontrado</div>

  </div>


</div>