  <div class="myHeader">
    <div class="logo">
      <img src="/assets/images/logo.png" class="appLogo">
      <h2 class="appName">Penguin Express</h2>
    </div>
    <img *ngIf="istoogleActive==false" class="toogle" src="/assets/images/menu.png" (click)="toogle()">
    <img *ngIf="istoogleActive==true" class="toogle" src="/assets/images/close1.png" (click)="toogle()">
    <div class="nav" [ngClass]="{'active': istoogleActive == true}">
        <div *ngIf="isLogged == false">
          <div class="nav-button" routerLink="/register">Regístrate</div>
        </div>
        <div *ngIf="isLogged == false">
          <div class="nav-button" routerLink="/login">Iniciar sesión</div>
        </div>
        <div *ngIf="isLogged == true">
          <div class="nav-button">Hola! {{nameUser}}
            <img src="/assets/images/profile-user.png" width="40px" height="40px"></div>
        </div>
        <div *ngIf="isLogged == true">
          <div class="nav-button" (click)="logout()">Cerrar Sesión 
            <img class="tofilter" src="/assets/images/logout.png" width="40px" height="40px"></div>
        </div>
    </div>
  </div>

<div class="body-container">
  <img class="imagestore2" src="/assets/images/shop-location.png" alt="logo">
  <div class="container-sloganAndImage">
    <div class="container-slogan">
      <p>
        Tus compras mas sencillas desde casa
      </p>
      <p>
        Encuentra tu Mercado más cercano
      </p>
      <div class="container-input-postCode">
        <img src="/assets/images/select-location.png">
        <input type="text" class="input-postCode" [(ngModel)]="zipCode" (keyup.enter)="findCode(zipCode)" placeholder="Código postal">
      </div>
      <div class="container-button">
         <button  class="button-postCode" (click)="findCode(zipCode)" >Buscar tiendas</button>
      </div>
    </div>
    <img class="imagestore" src="/assets/images/shop-location.png" alt="logo">
  </div>
  <div *ngIf="codeFound == undefined || notFound==1">
    <div class="msn_error">No se encuentran repartidores disponibles para esta zona</div>
  </div>
</div>

<!-- <div class="myBody">
  <div class="title">Penguin Express</div>

  <img class="imageShop" src="/assets/images/shop-location.png" alt="logo">

  <div class="slogan">
      Tus compras mas sencillas desde casa
  </div>
  <div class="slogan">
    Encuentra tu Mercado más cercano

</div >


  <div>
    <input type="text" class="input_code text-center" [(ngModel)]="zipCode" (keyup.enter)="findCode(zipCode)" placeholder="Código postal">
  </div>

  <div>
     <button class="button_find" (click)="findCode(zipCode)" >Buscar tiendas</button>
  </div>

  <div *ngIf="codeFound == undefined || notFound==1">
      <div class="msn_error">No se encuentran repartidores disponibles para esta zona</div>

  </div>


</div> -->