<div class="nav">
  <div class="nav-logo">
    <img src="/assets/images/logo.png" class="appLogo">
    <h2 class="appName">Penguin Express</h2>
  </div>
  <div class="nav-container">
    <div routerLink="">Cambiar Código Postal</div>
    <div [routerLink]= "['/postCode',shopPostCode]">Ir a otra Tienda</div>
  </div>
</div>

<div class="header">
  <h1>{{shop.name}}</h1>
  <img [src]="shop.logo" class="logo">

</div>

<div class="mainContainer">
  <div class="filter">
    <h3>Categoría</h3>
    <br>
    <div class="categoriesListed">
          <div *ngFor="let category2 of categories" class="clickCategories">
              <p (click)="selectCategory(category2)" [ngClass]="{selected: category2==category}">{{category2}}</p>
          </div>
        <button (click)="goBack()" class="showProducts">Mostrar todos los productos</button>
    </div>
  </div>

  <div class="board">
      <div *ngFor="let product of products">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="product.image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">Precio: {{product.price}} €</p>

              <!--
              <div class="btn-kart">
                <a href="#" class="btn btn-primary">Añadir al Carrito</a>
              </div>
              -->

            </div>
          </div>
    </div>
  </div>
</div>
