<div class="formClient">

      <div class="col alignClose" >
        <img class="card-img-top close" routerLink="../register"(click)="close()" src="/assets/images/close.png" alt="close">
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="inputEmail4">Nombre</label>

          <input type="text" class="form-control" [(ngModel)]="name" placeholder="Nombre" required>

        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="form-group col-md-3">
          <label for="inputPassword4">Teléfono</label>
          <input type="text" class="form-control"[(ngModel)]="phone" placeholder="Teléfono">
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">Código Postal</label>
          <input type="text" class="form-control" [(ngModel)]="postcode" placeholder="Código Postal">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="inputEmail4">Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="key" placeholder="Contraseña">
        </div>

      </div>

      <!--
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" [(ngModel)]="address" placeholder="Address">
      </div>
      -->

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"  [(ngModel)]="check" >
          <label class="form-check-label" for="gridCheck">
            He leído y acepto las <a href="#">Condiciones de uso</a> y la <a href="#">Política de privacidad</a>
          </label>
        </div>
      </div>

      <div class="d-flex justify-content-center divRegister">
          <button type="submit" class="btn btn-primary btn-lg" role="button" aria-pressed="true" (click)="checkRegister()">Registrarse</button>
      </div>

      <div *ngIf="isFormValid" class="msnMistake">
        Debes introducir todos los campos
      </div>

      <div *ngIf="isUserRegistered" class="msnOk">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
       </div>

       <!--
      <div *ngIf="isUserRegistered" class="msnOk">
        Te has registrado con éxito
       </div>
      -->

      <div *ngIf="failRegister" class="msnMistake">
        Usuario o Email ya registrados, prueba con otro usuario o email
       </div>


  </div>
