.logos{
    width: 200px;
    height: 200px;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
    margin-top: 80px;
}

.textName{
    text-align: center;
}

.card {
    margin-bottom: 25px;
    border-radius: 5px;
}

.appLogo{
    width: 70px;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 100, 2);
    color: white;
  }


   .nav-logo{
     display: flex;
     margin-left: 40px;
     align-items: center;
     cursor: pointer;
   }

  .nav-container{
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
  }

  .nav-container div{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

   .nav-container div:hover{
    background-color: rgb(68, 102, 65);
   }
