<div class="nav">
    <div class="nav-logo">
      <img src="/assets/images/logo.png" class="appLogo">
      <h2 class="appName">Penguin Express</h2>
    </div>
    <div class="nav-container">
      <div routerLink="">Cambiar Código Postal</div>
    </div>
  </div>
<div class="container">
  <div *ngFor="let shop of shops" [routerLink]="['./shop', shop.shopName]">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="shop.logo" alt="Card image cap">
        <div class="card-body">
            <div class="textName">{{shop.name}}</div>
        </div>
      </div>
    </div>
</div>
