.logos{
    width: 200px;
    height: 200px;
}

.toRight{
  display: flex;
  margin-right: 15px;
}

.myButton{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.myText{
  color:white;
  cursor: pointer;
  
}

.myText:hover{
  cursor: pointer;
  background-color: rgb(255,255,255);
  border: 1px solid #000000;
  color: #000000;;
  border-radius: 5px;
}

.icon{
  filter: invert(100%)
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 80vw;*/
    /*margin: auto;*/
    justify-content: space-around;
    padding-top: 20px;

}

.textName{
    text-align: center;
}

.card {
    margin-bottom: 25px;
    border-radius: 5px;
}

.appLogo{
    width: 70px;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 100, 2);
    color: white;
  }


   .nav-logo{
     display: flex;
     margin-left: 40px;
     align-items: center;
     cursor: pointer;
   }

  .nav-container{
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
  }

  .nav-container div{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

   .nav-container div:hover{
    background-color: rgb(68, 102, 65);
   }


   .cursor{
     cursor: pointer;
   }

   .noBorder:active{
     border: none;
     border-color: white;
   }

   .myBody{
    min-height: calc( 100vh - 70px - 56px );
    background-color: rgb(237, 252, 255);
  }