<div class="myHeader">
  <div class="logo">
    <img  routerLink="" src="/assets/images/logonuevo_v2.png" class="appLogo">
    <h2 routerLink="" class="appName">Penguin Express</h2>
  </div>
  <img *ngIf="istoogleActive==false" class="toogle" src="/assets/images/menu.png" (click)="toogle()">
  <img *ngIf="istoogleActive==true" class="toogle" src="/assets/images/close1.png" (click)="toogle()">
  <div class="nav" [ngClass]="{'active': istoogleActive == true}">
    <div class="nav-button1" routerLink="">Cambiar Código Postal</div>
    <div *ngIf="isLogged == false">
        <div class="nav-button" routerLink="/register">Regístrate</div>
    </div>
    <div *ngIf="isLogged == false">
        <div class="nav-button" routerLink="/login">Iniciar sesión</div>
    </div>
    <div *ngIf="isLogged == true">
        <div class="nav-button">Hola! {{nameUser}}
        <img src="/assets/images/profile-user.png" width="40px" height="40px"></div>
    </div>
    <div *ngIf="isLogged == true">
        <div class="nav-button" (click)="logout()">Cerrar Sesión 
        <img class="tofilter" src="/assets/images/logout.png" width="40px" height="40px"></div>
    </div>
  </div>
</div>
<!-- 
<div class="nav">
    <div routerLink=""  class="nav-logo">
      <img src="/assets/images/logo.png" class="appLogo">
      <h2 class="appName">Penguin Express</h2>
    </div>
    <div class="toRight">
      <div class="nav-container">
        <div routerLink="">Cambiar Código Postal</div>
      </div>
      <div *ngIf="isLogged == false">
        <div class="nav-button" routerLink="/register">Regístrate</div>
      </div>
      <div *ngIf="isLogged == false">
        <div class="nav-button" routerLink="/login">Iniciar sesión</div>
      </div>
      <div class="myButton" *ngIf="isLogged == true">
        <div class=" myText cursorPointer"> {{nameUser}}
          <img class="icon" src="/assets/images/profile-user.png" width="30px" height="30px"></div>
      </div>
      <div class="myButton" *ngIf="isLogged == true">
        <div class=" myText cursorPointer" (click)="logout()">Cerrar Sesión 
          <img class="icon" src="/assets/images/logout.png" width="30px" height="30px"></div>
      </div>
    </div>
  </div> -->

<div class="myBody">
    <div class="container">
      <div *ngFor="let shop of shops" [routerLink]="['./shop', shop._id]" class="noBorder">
      <!-- <div *ngFor="let shop of shops" [routerLink]="['./shop', shop.id]"> -->
          <div class="card cursor" style="width: 18rem;" >
              <img class="card-img-top" [src]="shop.logo" alt="Card image cap">
              <div class="card-body">
                  <div class="textName">{{shop.name}}</div>
              </div>
          </div>
      </div>
    </div>
</div>
