.card-img-top {
  align-self: center;
  width: 250px;
  height: 250px;
  padding-top: 10px;
}

.appLogo{
  width: 70px;
  height: 70px;
}

.mainContainer{
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  width: 100%;
}

.filter{
  width: 20vw;
  margin-left: 30px;
}

.board{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  background-color: white;
  margin: auto;
  justify-content: space-around;
}

.textName{
  text-align: center;
}

.btn-kart {
  display: flex;
  justify-content: center
}

.card {
  width: 300px;
  height: 450px;
  margin-bottom: 20px;
  border-radius: 25px;
}
 .header {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   margin-top: 50px;
 }

 .header img{
   width: 60px;
   height:  60px;
   border-radius: 30px;
   margin-left: 50px;
 }

 .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 100, 2);
  color: white;
}


 .nav-logo{
   display: flex;
   margin-left: 40px;
   align-items: center;
   cursor: pointer;
 }

.nav-container{
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.nav-container div{
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

 .nav-container div:hover{
  background-color: rgb(68, 102, 65);
 }
