<div class="nav">
  <div routerLink="" class="nav-logo">
    <img src="/assets/images/logo.png" class="appLogo" />
    <h2 class="appName">Penguin Express</h2>
  </div>
  <div class="nav-container">
    <div routerLink="">Cambiar Código Postal</div>
    <div [routerLink]="['/postCode', shop?.postCode]">Ir a otra Tienda</div>
  </div>
</div>
<div class="second-nav">
  <p>Tus compras mas sencillas desde casa<p>
  <div class="second-nav-search">
    <input type="text" [(ngModel)]="search" placeholder="Busca en la tienda">
    <img src="../../../assets/images/search.png">
  </div>
  <p>{{totalToPay}} €</p>
</div>

<div class="dropdown">
  <div class="dropHeader"><img src="../../../assets/images/shoppingCart.png"></div>
  <div class="dropdown-content">
    <app-shopping-cart
    [productsInCart]="productsTocart"
    (removeProductFromCart)="removeFromCart($event)"
    (totalToPayCart)="showTotalToPay($event)"></app-shopping-cart>
  </div>
</div>

<div class="header">
  <h1>{{ shop?.name }}</h1>
  <img [src]="shop?.logo" class="logo" />
</div>

<div class="mainContainer">
  <div class="filter">
    <h3>Categoría</h3>
    <br>
    <div class="categoriesListed" *ngIf="category==''">
      <div *ngFor="let category of categories">
        <p [routerLink]="category" >{{category}}</p>
      </div>
    </div>

    <div class="categoriesListed" *ngIf="category!==''">
          <div *ngFor="let category2 of categories">
              <p (click)="selectCategory(category2)" [ngClass]="{selected: category2==category}">{{category2}}</p>
          </div>
        <button (click)="goBack()" class="showProducts">Mostrar todos los productos</button>
    </div>
  </div>

  <div class="board">
    <div *ngFor="let product of products">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" [src]="product.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Precio: {{ product.price }} €</p>

          <!-- <div class="card-Ammount">
            <img src="../../../assets/images/less.png" (click)=decrease()>
            <input type="number" [(ngModel)]="ammount">
            <img src="../../../assets/images/more.png" (click)=increase()>
          </div> -->
          <div class="btn-kart" *ngIf="!product.isInCart">
            <button href="#" class="btn btn-primary" (click)="addToCart(product)">
              <img src="../../../assets/images/addToCart.png" width="30px" height="30px">
              <p>Añadir al Carrito</p>
            </button>
          </div>
          <div class="btn-kart" *ngIf="product.isInCart">
            <button href="#" class="btn btn-success" (click)="removeFromCart(product)">
              <img src="../../../assets/images/removeFromCart.png" width="30px" height="30px">
              <p>Eliminar del Carrito</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
