
<div class="myHeader">
    <div class="logo">
      <img routerLink=""   src="/assets/images/logonuevo_v2.png" class="appLogo">
      <h2 routerLink=""  class="appName">Penguin Express</h2>
    </div>
    <img *ngIf="istoogleActive==false" class="toogle" src="/assets/images/menu.png" (click)="toogle()">
    <img *ngIf="istoogleActive==true" class="toogle" src="/assets/images/close1.png" (click)="toogle()">
    <div class="nav" [ngClass]="{'active': istoogleActive == true}">
      <div class="nav-button1" routerLink="">Cambiar Código Postal</div>
      <div class="nav-button1" [routerLink]="['/postCode', shop?.postcode]">Ir a otra Tienda</div>
      <div *ngIf="isLogged == false">
          <div class="nav-button" routerLink="/register">Regístrate</div>
      </div>
      <div *ngIf="isLogged == false">
          <div class="nav-button" routerLink="/login">Iniciar sesión</div>
      </div>
      <div *ngIf="isLogged == true">
          <div class="nav-button">Hola! {{nameUser}}
          <img src="/assets/images/profile-user.png" width="40px" height="40px"></div>
      </div>
      <div *ngIf="isLogged == true">
          <div class="nav-button" (click)="logout()">Cerrar Sesión 
          <img class="tofilter" src="/assets/images/logout.png" width="40px" height="40px"></div>
      </div>
    </div>
</div>

<div class="container-second-nav">
    <div class="second-nav"  [ngClass]="{backgroundOpacity:wantToPayF==true}">
      <div class="second-nav-category">
        <div class="hearderCategory" >Categoría</div>
        <div class="dropdownCategories">
          <div *ngFor="let category2 of categories">
            <div class="elements" (click)="selectCategory(category2)" [ngClass]="{selected: category2==category}">{{category2}}</div>
          </div>
          <div class="elements" (click)="goBack()" >Mostrar todos los productos</div>
        </div>
      </div>
      <p class="slogan">Tus compras mas sencillas desde casa<p>
      <div class="second-nav-search">
        <input type="text" [(ngModel)]="search" placeholder="Busca en la tienda" (keyup.enter)="find(search)">
        <img src="../../../assets/images/search.png" (click)="find(search)">
      </div>
      <p>{{total()}} €</p>
    </div>
    <div class="dropdown">
      <div class="dropHeader tofilter"><img src="../../../assets/images/shoppingCart.png"></div>
      <div class="dropdown-content">

        <app-shopping-cart
        [productsInCart]="productsTocart"
        (removeProductFromCart)="removeFromCart($event)"
        (totalToPayCart)="showTotalToPay($event)"
        (sendPetitionToPay)="startPaying($event)"

        
        ></app-shopping-cart>
      </div>
    </div>
</div>


<div class="myBody">
    <div class="popUp-login" *ngIf="wantToPayF==true" >
      <div class="col alignClose" >
        <img class="close" (click)="close()" src="/assets/images/close.png" width="20px" height="20px" alt="close">
      </div>
      <div class="formClient">
        <div class="container-login">
          <div class="login-input-email">
            <label>Email del Usuario</label>
            <div class="login-input-email2">
              <img src="/assets/images/user.png">
              <input type="email" [(ngModel)]="email" placeholder="Email">
            </div>
          </div>
          <div class="login-input-password">
            <label>Contraseña</label>
            <div class="login-input-password2">
              <img src="/assets/images/password.png">
              <input type="password" [(ngModel)]="password" (keyup.enter)="signIn()" placeholder="Contraseña">
            </div>
          </div>
          <div class="message-container">
            <p>
              ¿Aún no tienes cuenta? 
            </p>
            <div routerLink="/register" class="createAccount">Crear cuenta</div>
          </div>
          <div class="button-container">
            <button type="submit" class="button-login" (click)="signIn()">Entrar</button>
          </div>
          <div *ngIf="isFormValid" class="msnMistake">
            Debes introducir todos los campos
          </div>
          <div *ngIf="isUserLoged" class="msnOk">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
          <div *ngIf="failLogin" class="msnMistake">
            Email o contraseña inválidos
          </div>
        </div>
        <img class="imageLogin" src="/assets/images/people-login.png">
      </div>
      
    </div>

    <div class="header"  [ngClass]="{backgroundOpacity:wantToPayF==true}">
      <h1>{{ shop?.name }}</h1>
      <img [src]="shop?.logo" class="logo" />
    </div>


    <div class="mainContainer"  [ngClass]="{backgroundOpacity:wantToPayF==true}">
      <div class="filter">
          <h3 >Categoría</h3>
          <br>
          <div class="categoriesListed" *ngIf="category==''">
            <div *ngFor="let category of categories">
              <p class="categories" (click)="addFilterCategory(category)">{{category}}</p>
              <!-- <p class="categories" [routerLink]="['./products']" 
              [queryParams]="{category: category}">{{category}}</p> -->
            </div>
          </div>

          <div class="categoriesListed" *ngIf="category!==''">
              <div *ngFor="let category2 of categories">
                <p class="categories" (click)="selectCategory(category2)" [ngClass]="{selected: category2==category}">{{category2}}</p>
              </div>
              <div (click)="goBack()" class="showProducts">Mostrar todos los productos</div>
          </div>
      </div>

      <div class="board" *ngIf="products.length !=0">
        <div *ngFor="let product of products">
          <div class="card" style="width: 15rem">
            <img class="card-img-top" [src]="product.image" alt="Card image cap" />
            <div class="card-body">
                  <h5 class="card-title text-center myCardTtile">{{ product.name }}</h5>
                  <p class="card-text text-center">Precio: {{ product.price }} €</p>

                  <div class="btn-kart" *ngIf="!product.isInCart ">

                        <button href="#" class="button-addShop" (click)="addToCart(product)">
                          <img src="../../../assets/images/addToCart.png" width="30px" height="30px">
                          <p>Añadir al Carrito</p>
                        </button>

                  </div>

                  <div class="btn-kart" *ngIf="product.isInCart">

                        <button href="#" class="button-removeShop" (click)="removeFromCart(product)">
                          <img src="../../../assets/images/removeFromCart.png" width="30px" height="30px">
                          <p>Eliminar del Carrito</p>
                        </button>

                  </div>

            </div>
          </div>
        </div>
      </div>

      <div class="noResultsFound" *ngIf="products.length ==0">
        <p>Ups... Su búsqueda no coincide con ninguno de nuestros productos😅</p>
        <img src="/assets/images/logo.png" width="140px" height="140px">
      </div>
     
      
    </div>

</div>


<router-outlet></router-outlet>
