<div *ngIf="productsInCart.length==0" class="empty">
    <p>Tu Carrito de Compras esta vacío</p>
</div>

<div *ngIf="productsInCart.length!=0">
    <div *ngFor="let product of productsInCart" class="cartWithProducts">
        <div class="container1">
            <img [src]="product.image">
            <p class="name">{{product.name}}</p>  
        </div>
        <div class="container2">
            <div class="card-Ammount">
                <img src="../../../assets/images/less.png" (click)="decrease(product)" class="myButton">
                <input type="number" [(ngModel)]="product.quantity">
                <img src="../../../assets/images/more.png" (click)="increase(product)" class="myButton">
            </div>
            <p>{{+(product.quantity*product.price).toFixed(2)}} €</p>
        </div>
    </div>
</div>

<div class="cart-footer">
    <div *ngIf="total() != 0">
        <div class="toOrder" (click)="startPayment()"><p>Realizar Pedido</p></div>
    </div>
    <p>Total: {{total()}} €</p>
</div>


