.mainContainer{
  /*margin: 0 15px;*/
  min-height: calc( 100vh - 70px - 56px );
  background-color: rgb(237, 252, 255);
}

.myHeader{

  background-color: rgb(10, 100, 2);
  height: 70px;
  margin:auto;
  overflow: hidden;

}


.msnMistake{
  margin-top:10px;
  text-align: center;
  color:red;
}

.msnOk{
  margin-top:10px;
  text-align: center;
  color:rgb(60, 206, 53);
 }

.title{
  font-size: 40px;
  text-align: center;
}

.containerProducts{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .containerProducts img{
    width: 60px;
    height: 60px;
  }

  .total{
      margin-right: 15px;
      text-align: right;
  }

  .headers{
    display: flex;
    justify-content: flex-end;
  }

  table{
    width: 100vw;
  }

  .name{
    width: 40vw;
  }

  .price{
    margin-right: 25px;
  }

  .myBuy{
    margin-top: 10px;
  }

  .divBuy{
    margin-top: 10px;
  }

  .appLogo{
    width: 70px;
    height: 70px;
}


.appName{
  color:white;
}

.nav-logo{
  display: flex;
  margin-left: 40px;
  align-items: center;
  cursor: pointer;
}

