.mainContainer{
  /*margin: 0 15px;*/
  min-height: calc( 100vh - 70px - 56px );
  background: linear-gradient(to bottom right, #2b9475 10%, #6ffcb5 80%, #248d6e );
}

.myHeader{

  background-color: rgb(10, 100, 2);
  height: 70px;
  margin:auto;
  overflow: hidden;

}



.title{
  padding-top: 16px;
  font-size: 40px;
  text-align: center;
}


  .headers{
    display: flex;
    justify-content: flex-end;
  }

  table{
    width: 100vw;
  }


  .containerOrder{
    border:1px solid black;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    color: rgb(0, 0, 0) !important;
    box-shadow: 0 5px 16px rgba(49, 138, 172, 1);
    /*transition: all 0.2s ease;*/
   
  }
  

  .tableHeader{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-width:1px;
    font-weight: bold;
    background: #38c27d;
  }



.nameTitle{
  width: 49vw;
  margin-left: 25px;
}

.card-priceTtile{
  width: 5vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.quantityTitle{
  width: 5vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.priceTtile{
  width: 5vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.containerProducts{
  border-bottom-style: solid;
  border-width:1px;
}

.productsRow{
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*border: 1px solid red;*/
}


.containerProducts img{
  width: 60px;
  height: 60px;
}

.containerProducts  div{
  margin-left: auto;
  margin-right: auto;
}

  .name{
    width: 40vw;
    text-align: left;
  }

.card-price{
  width: 5vw;
  text-align: center;
}

.quantity{
  width: 5vw;
  text-align: center;
}

.price{
  width: 5vw;
  /*margin-right: 25px;*/
  text-align: center;
}

.total{
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: right;
  font-weight: bold;
}

  .myBuy{
    margin-top: 10px;
  }

  .divBuy{
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .appLogo{
    width: 70px;
    height: 70px;
}


.appName{
  color:white;
}

.nav-logo{
  display: flex;
  margin-left: 40px;
  align-items: center;
  cursor: pointer;
}



.myTable{
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

.inputsAddress{
  display: flex;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.inAddress {
  width: 20vw;
  background: linear-gradient(to bottom, #379a7c,#40bd97);
   border: 1px solid #393939;
   border-radius: 5px 5px 5px 5px;
   color: #ffffff;
   font-size: 12px;
   padding: 5px
}

.inCP {
  width: 11vw;
  background: linear-gradient(to bottom, #379a7c,#40bd97);
   border: 1px solid #393939;
   border-radius: 5px 5px 5px 5px;
   color: #ffffff;
   font-size: 12px;
   padding: 5px
}


.msnMistake{
  
  text-align: center;
  color:red;
  font-weight: bold;
  padding-bottom: 20px;
}

.msnErrorStock{
  text-align: center;
  color:black;
  font-weight: bold;
  padding-bottom: 20px;
}

.msnOk{
  margin-top:10px;
  text-align: center;
  color:rgb(60, 206, 53);
  font-weight: bold;
  padding-bottom: 20px;
 }


 .msnOkOrder{
  margin-top:10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
  
 }

.tableStock{
  margin-top: 15px;
  border:1px solid black;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  color: rgb(0, 0, 0) !important;
  box-shadow: 0 5px 16px rgba(49, 138, 172, 1);
  /*transition: all 0.2s ease;*/
}

 .rowTableStock{
  border-bottom-style: solid;
  border-width:1px;
 }

 .rowTableStock .nameStock{
   width: 400px;
   text-align: left;
 }

 .rowTableStock .quantityStock{
  width: 20px;
}

.rowStock{
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*border: 1px solid red;*/
}
